[Unit]
Description=Change RGB colors according to temperature

[Service]
Environment=RGBTEMP=/sys/class/hwmon/hwmon1/temp1_input
Type=simple
ExecStart=rgbtemp
KillMode=process
KillSignal=SIGUSR1

[Install]
WantedBy=multi-user.target
