[Unit]
Description=Change RGB colors according to temperature

[Service]
Environment=RGBTEMP=/path/to/sys/hwmon/temp_input_file
Type=simple
ExecStart=rgbtemp
KillMode=process
KillSignal=SIGUSR1

[Install]
WantedBy=multi-user.target
